.charge {
  height: 100px;
  width: 100px;
  color: white;

  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 50px;
}

.charge_value {
  width: 50px;
  font-size: 30px;
  background-color: transparent;
  border: 1px solid black;
  color: white;
}

.negatively_charged {
  background-color: blue;
}

.positively_charged {
  background-color: red;
}

.neutrally_charged {
  background-color: lightgrey;
}

.canvas {
  position: absolute;
  display: block;
  width: 100vw;
  height: 100vh;
}
