.charge {
  height: 100px;
  width: 100px;
  color: white;

  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 50px;
}

.negatively_charged {
  background-color: blue;
}

.positively_charged {
  background-color: red;
}

.canvas {
  position: absolute;
  display: block;
  width: 100vw;
  height: 100vh;
}
